.eksternal {
    color: rgb(34, 79, 146);
}

.gambar1 {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.subtitle {
    letter-spacing: 10px; 
}

.text-about {
    text-align: justify;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}